body {
    background-image: url("image/Trái-tim-phát-sáng\ 222.jpg");
    background-position: center center;
    background-size: 100%;
    font: 16em/1 Arial;
    }
    
    .text--line {
    font-size: 
    }
    
    
}
svg{
    color:aliceblue;

}